.link-deco {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.page-description {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.about-tldr {
    display: inline-block;
    list-style: disc;
    text-align: left;
}

.about-desc {
  display: flex;
  width: 90%;
  max-width: 1000px;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: auto;
}

.about-container {
    min-width: 500px;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
}

.about-div {
    padding: 0;
}

#container{
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#image-container {
    padding: 10px;
}

#my-image {
    align-items: left;
}

#profile-image {
    min-width: 100px;
    max-width: 50%;
    width: auto;
    height: auto;
}

#writing-container {
    width: 100%;
}

#desc-container {
    max-width: 1000px;
    padding: 20px;
}

.desc-container-no-margin {
    padding: 0px;
}

@media screen and (max-width: 820px) {
    #container{
        min-width: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .about-container {
        min-width: 100px;
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
    }
    
}