.page-title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.page-description {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.about-tldr {
    display: inline-block;
    list-style: disc;
    text-align: left;
}

.about-desc {
  display: flex;
  width: 90%;
  max-width: 1000px;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.about-container {
    min-width: 500px;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
}

#container{
    min-width: 500px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

#image-container {
    padding: 10px;
}

#profile-image {
    min-width: 10px;
    max-width: 500px;
    height: auto;
}

#writing-container {
    max-width: 1000px;
    padding: 20px;
}

#desc-container {
    max-width: 1000px;
    padding: 20px;
}

