.App {
  text-align: center;
  width: 100%;
}

nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  text-decoration: none;
  width: 100%;
  height: 132px;
}

.nav-links {
  list-style: none;
  font-size: 30px;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;

  width: 100%;

  padding: 0%;
  display: inline-flex;
  justify-content: space-around;
}

.nav-logo {
  width: 132px;
}

.nav-div {
  width: 30%;
  align-items: center;
}

.description {
  display: flex;
  width: 90%;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
}


.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}