.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  max-height: 15vh;
  background: white;
  color: black;
  outline: 1px;
  outline-color: black;
  outline-style: solid;
  text-decoration: none;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 30px;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
}

.nav-logo {
  width: 7vw;
}

.description {
  display: flex;
  width: 90%;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
}


.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}