
.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: white;
    color: black;
    outline: 1px;
    outline-color: black;
    outline-style: solid;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-logo {
    width: 10vw;
}